@mixin mode_flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin container {
  padding: 3rem 2.5rem;
}

@mixin padding-block($top: 1em, $right: 6rem, $bottom: 1em, $left: 2.5em) {
  padding: $top $right $bottom $left;
}
