@import "../../../styles/_vars";
@import "../../../styles/_mixins";

.m-footer {
  @include mode_flex(row, center, space-between);
  @include padding-block;
  width: -webkit-fill-available;
  background-color: $background-footer;
  color: $white;
  &__icons {
    font-size: 1.4em;
    svg {
      margin-right: 0.5em;
    }
  }
}
