@import "../../../styles/_vars";
@import "../../../styles/_mixins";
@import "../../../styles/_animations";

.m-card {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  padding: 0.5em;
  background-color: $white;
  text-align: left;
  transition: 0.3s;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  box-shadow: none;
  opacity: 0;

  animation-name: over-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  &:hover {
    box-shadow: $shadow;
  }

  &__img {
    margin-bottom: 1em;
  }

  h4 {
    margin-bottom: 0;
  }
}
